# =============== #
# UNITY GENERATED #
# =============== #

[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / VSCode
.vscode/
*.csproj
*.sln
*.svd
*.user
*.unityproj
*.pidb
*.booproj*
